# Regressão

1. Carregue uma base de dados de regressão que NÃO esteja nos toy datasets do scikit-learn;

Escolhi um dataset sobre condições climáticas durante a Segunda Guerra Mundial disponível no Kaggle: https://www.kaggle.com/smid80/weatherww2

In [7]:
import pandas as pd

wsLocation = pd.read_csv("G:/Meu Drive/Mestrado/Disciplinas/RP/disciplina_rp/regression_datasets/Weather Station Locations.csv")
wsLocation.head()

,WBAN,NAME,STATE/COUNTRY ID,LAT,LON,ELEV,Latitude,Longitude
0,33013,AIN EL,AL,3623N,00637E,611,36.383333,6.650000
1,33031,LA SENIA,AL,3537N,00037E,88,35.616667,0.583333
2,33023,MAISON BLANCHE,AL,3643N,00314E,23,36.716667,3.216667
3,33044,TELERGMA,AL,3607N,00621E,754,36.116667,6.416667
4,12001,TINDOUF,AL,2741N,00809W,443,27.683333,-8.083333

In [8]:
sWeather = pd.read_csv("G:/Meu Drive/Mestrado/Disciplinas/RP/disciplina_rp/regression_datasets/Summary of Weather.csv")
sWeather.head()

C:\Users\pablo\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3173: DtypeWarning: Columns (7,8,18,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


Base Kaggle: https://www.kaggle.com/aungpyaeap/fish-market

Este conjunto de dados é um registro de 7 espécies diferentes de peixes comuns nas vendas do mercado de peixes. Com este conjunto de dados, um modelo preditivo pode ser executado para oferecer uma estimativa do peso dos peixes.

In [9]:
fishes = pd.read_csv("G:/Meu Drive/Mestrado/Disciplinas/RP/disciplina_rp/regression_datasets/Fish.csv")

fishes.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [31]:
#alterando nomes das especies por numeros
ip_species = fishes.Species.unique()
ip_dict = dict(zip(ip_species, range(len(ip_species))))

#fishes = fishes.replace(ip_dict)
#fishes.head()

#preparando vetor de caracteristicas
X = fishes.iloc[:, :-1]

#apenas coluna "Width"
y = fishes.iloc[:,-1]

len(X), X.size, len(y)

(159, 954, 159)

2. Treine um modelo da classe LinearRegression do scikit-learn com toda a base;

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

modelo = LinearRegression()
modelo.fit(X, y)
ypred = modelo.predict(X)

In [34]:
erro = mean_squared_error(y, ypred)
print(erro)
print(modelo.intercept_, modelo.coef_)

#criar funcao de impressao do grafioco 2D

0.18899724794659292
1.714965260907034 [-0.21988281  0.00081744  0.12078968  0.71085932 -0.72675516  0.26025325]